* {
    box-sizing: border-box;
    margin: 0;
    background-color: #020015;
    color: white;
    font-family: 'Raleway', sans-serif;
}

body {
    text-align: center;
    line-height: 4em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 40px;   
}

p {
    font-size: 18px;
}

img {
    width: 12%;
    height: auto;
}
